body {
  background-image: url("background.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
}

svg {
  display: block;
  font: 60px "Montserrat";
  width: 800px;
  height: 150px;
  margin: 0 auto;
  max-width: 100%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #4d163d;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #bd0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #bd0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #fdb731;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

.gambar {
  margin: auto;
  width: 400px;
  border-radius: 10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 320px;
  padding: 10px;
  border-radius: 15px;
  background-color: #ee82ee;
}

h3 {
  background-color: white;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 500px;
  padding: 20px;
  border-radius: 15px;
  background-color: #3387c380;
}
